body {
    font-size: 14px;
}

h1 {
    font-size: 24px;
    text-align: right;
}

.headbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #FD8900;
}

.headbar h1 {
    text-align: left;
    color: white;
}

.main {
    position: absolute;
    height: 98%;

}
nav {
    position: absolute;
    bottom: 0;
    top: 42px;
    left: -10px;
    height: 93%;
    width: 150px;
    background-color: #fdb866;
    padding-top: 10px;
    padding-right: 10px;

}

#logo {
    position: fixed;
    right: 0;
    bottom: 0;
}

a {
    text-decoration: none;
    color: white;
}

.fn-nav li { padding-left: 5px; list-style-type: none; background: #fdb866; }
.fn-nav li:nth-child(odd) { padding-left: 5px;  list-style-type: none; background:#FD8900; }

.fn-nav {
    position: absolute;
    width: 100%;
    right: 0;
}

.note-space {
    position: absolute;
    top: 50px;
    left: 160px;
    margin-left: 80px;
}

